
.app-list {
    padding: 1em;
    margin: 1em;
    td, th {
        border: 1px lightgray solid;
        padding: 0.5em;
    }
    table {
        width: 100%;
    }
}

.parrafo {
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    width:80%;
    height:200px;
    background-color:orange;
    color:white;
    font-size:24pt;
}